:root{
    --darkYellow: #FFBD35;
    --darkBrown: #473A43;
    --lightYellow: #FFD287;
    --white:#F7F8F8;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* vertical-align: baseline; */
}

/* Font List
font-family: 'Baloo Da 2', cursive;
font-family: 'Mandali', sans-serif;
font-family: 'Quicksand', sans-serif;
 */


/* Loading Page */
.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: var(--darkBrown);
    background-color: var(--white);
    text-align: center;
}

.loadanim{
    width: 100%;
    height: 40%;
    align-items: center;
    align-content: center;
}

.loading_Text{
    margin: 0;
    font-family: 'Baloo Da 2', cursive;
    font-size: 3.5rem;

}
/* END Loading Page*/

/* MainPage CSS */
.mainPage{
    margin: 0;
    height: 100vh;
    position: relative;
    background-color: var(--darkYellow);
    align-items: center;
    align-content: center;
    text-align: center;
    z-index: -1;
}

.title{
    margin:0;
    font-family: 'Baloo Da 2', cursive;
    line-height: 70%;
    font-size: 10.188rem;
    font-weight: 700;
    color: var(--darkBrown);
}

.subtitle{
    margin: 0;
    padding-bottom: 30px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 2.563rem;
    color: var(--white);
}

.letgoBut{
    border: none;
    border-radius: 50px;
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    font-size: 3.8rem;
    width: 448px;
    height: 105px;
    transition: all 0.3s ease;
}
.letgoBut:hover{
    background-color: var(--lightYellow);
    transform: translateY(-10px)
}

/* END MainPage CSS */

/* Features page */
.options{
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    font-size: 5.1rem;
    color: var(--darkBrown);
}
.opWrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 55px 150px 0 150px;
}
.wrapChild{
    width: 499px;
    height: 597px;
    background-color: var(--lightYellow);
    margin: 0 auto;
    border-radius: 50px;
    position: relative;
}

.opTitle{
    font-size: 3.75rem;
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    color: var(--white);
}

.iconImg{
    padding-top: 30px;
}

.opOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    color: var(--white);
    border-radius: 50px;
    opacity: 0;
    backdrop-filter: blur(5px);
    cursor:pointer;
    transition: all 0.25s ease;
}

.opOverlay:hover{
    opacity: 1;
}

.opOverlay > *{
    transform: translateY(50px);
    transition: all 0.25s ease;
}

.opOverlay:hover > *{
    transform: translateY(0);
}
.opDes{
    font-size: 1.8rem;
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    text-align: left;
    padding-left: 12%;
    padding-top: 42%;
}

/* END Features page */

/* Randomizer Page */
.morph{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.randomrap{
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}
.bimg{
    position: absolute;
    top:-210px;
    left: 350px;
}
.beerDes{
    text-align: left;
    transform: translateY(-100px);
}
.beerTitle{
    font-size: 3.5rem;
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    color: var(--darkBrown);
}
.desCont{
    font-family: 'Mandali', sans-serif;
    font-weight: 400;
    font-size:1.8rem;
}

.desHead{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.nextBut{
    margin-top: 40px;
    width: 211px;
    height: 69px;
    border-radius: 50px;
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: var(--darkBrown);
    transition: all 0.3s ease;
    cursor: pointer;
}

.nextBut:hover{
    background-color: var(--lightYellow);
    transform: translateY(-10px)
}
/* END Randomizer Page */

/* Hamburger Menu */
.menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em;
    cursor: pointer;
    z-index: 1;
}

nav{
    position: absolute;
    background-color: var(--lightYellow);
    top:0;
    right: 0;
    display:none;
    height: 100%;
    width: 35%;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: right;
}

.show-menu{
    display: block;
    animation: slide-menu 0.3s ease-in-out forwards;
}

.show-menu > #close-menu{
    animation: show-x 0.3s 0.4s  ease-in-out forwards;
}

.show-menu > ul > li{
    animation: show-filter 0.3s 0.4s ease-in-out forwards;
}

@keyframes show-x{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-menu{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes show-filter{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#close-menu{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
}


#close-menu:hover{
    transform: rotate(180deg);
}
nav>ul{
    padding: 20% 30% 0 0;
    float: right;
    text-align: right;
}
nav>ul>li{
    padding: 5px 0 5px 0;
    opacity: 0;
    
}
.listTitle{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--darkBrown);
    
}
.filterLabel{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--darkBrown);
    

    display: block;
    position: relative;
    padding-right: 40px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.filterLabel:hover{
    transform: translateX(10px);
}
.filterLabel>input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;    
}
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color:var(--white);
    transition: all 0.3s ease;
  }

.filterLabel:hover input ~ .checkmark{
    background-color: lightgray;
}

.filterLabel input:checked ~ .checkmark{
    background-color: var(--darkBrown);
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.filterLabel input:checked ~ .checkmark:after{
    display: block;
}

.filterLabel .checkmark:after{
    left: 9px;
    top: 3px;
    width: 7px;
    height: 14px;
    border: solid #F7F8F8;
    border-width: 0 4px 4px 0;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#wheel-btn{
    width: 276px;
    height: 62px;
    border-radius: 50px;
    background-color: var(--white);
    color: var(--darkBrown);
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    font-size: 2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

#wheel-btn:hover{
    background-color: var(--darkYellow);
    transform: translateY(10px)
}
/* END Hamburger Menu */

/* Wheel */
.wheelTitle{
    font-family: 'Baloo Da 2', cursive;
    font-weight: 700;
    font-size: 5rem;
    color: var(--white);
}

.wheelWrapper{
    position: relative;
    width: 44%;
    height: auto;
    margin: 0 auto;
}
.pointer{
    position: absolute;
    top:40%;
    right: 0;
}

.rdmlink{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--darkBrown);
    padding-top: 70px;
}
.link{
    text-decoration: underline;
    color: var(--darkBrown);
    transition: all 0.3s ease;
    cursor: pointer;
}
.link:hover{
    color: var(--lightYellow);
}

#wheel{
    transition: all 0.9s ease-in-out;
    width: 710px;
    height: auto;
}
/* END Wheel */